@media(max-width: 767px){
    .header__nav {
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        background: rgb(15, 6, 6);
        box-shadow: #ccc;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
        transition: all 0.4s ease;
        left:-100%;
    }
    .header__menu {
        display: block;
    }
    .header__nav.open-menu{
        left:0;
    }
    .header__menu li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
        }
    .menu-burger__header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
       }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #fcfcfc;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }
    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
    
    header {
        height: 60px;
    }
    .content-wrapper {
        margin-top: 48px;
    }
    .fixed-pade {
        overflow: hidden;
    }
    .parallax-text {
       transform: translateZ(0) translateX(15px) translateY(240px) scale(2); 
       width: 250%;
      height: 150%;
     }
     .parallax-image {
        width: 100%;
        transform: translateZ(-1px) translateX(-205px) translateY(0px)scale(2); 
    
     }
     .element-animation {
        margin-top: 900px;
        margin-left: 160px;
    }
    .NewsBlock{
        
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    .NewsBlock_1, .NewsBlock_2, .NewsBlock_3{
        margin-bottom: 15px;
    }

    }